<% include partials/header %>
	<!-- CONTACT FORM LOGIC -->
<section class="contact-section">
	<% if(typeof type !== 'undefined'){ %>
	<div class="alert-box">
		<% if(type === 'error'){ %>
			<div class="alert alert-error">
				<a class="close" href="#">
					<i class="fa fa-times-circle"></i>
				</a>
				Problem encountered please resend or contact by phone.
			</div>
		</div>
	<%	} if(type === 'empty') { %>
	<div class="alert-box">
		<div class="alert alert-warning"> 
			<a class="close" href="#">
				<i class="fa fa-times-circle"></i>
			</a>
				<%=msg %>
		</div>
		</div>
	<%	} if(type === 'success') { %>
	<div class="alert-box">
		<div class="alert alert-success"> 
			<a class="close" href="#">
				<i class="fa fa-times-circle"></i>
			</a>
				Success! You will hear from me as soon as possible.
		</div>
	</div>
<%	} %>
<% } %>
    
			<div class="content-cont">
				<a id="contact"></a>
					<h1>Contact Me</h1>
					<p>You can contact me by email at <a href="mailto:JPell3130@gmail.com">JPell3130@gmail.com</a> or <a href="mailto:JPell@finessedesigns.net">JPell@finessedesigns.net</a></p>
					<p>If you would like to speak by phone please email me and request my phone number.</p>
					<p>I've also included a contact form. You can use this form to send me a message and I will return it as soon as possible. Thanks! </p>
					<div><p class="time">My current time is <%=moment(Date()).utcOffset("-05:00").format("dddd, MMMM Do YYYY, h:mm:ss")%> </p></div>
					<h3>You can use this form to get into contact with me.</h3>
					<form class="contact-form" action="/contact" method="POST">
						<h2>Send Me an Message:</h2>
							<input id="form-name" type="text" placeholder="Your Name" name="name" required required-size="40" 
							value="<% if (typeof name !== 'undefined') { %> <%=name %> <% } %>" >
							<input id="form-email" type="email" placeholder="Your Email" name="email" required required-size="40"
							value="<% if (typeof email !== 'undefined') { %> <%=email %> <% } %>">
							<input id="form-company" type="text" placeholder="Company" name="company">
							<textarea id="form-message" placeholder="How can I help you?" name="message" rows=10 required-cols=30 required
							value="<% if (typeof body !== 'undefined') { %> <%=body %> <% } %>"></textarea>
						
						<button id="send-msg">Send your message <i class="fa fa-paper-plane"></i></button> 
					</form>
					</div>
					
</section>
<script src='/assets/js/contact.js'></script>
<% include partials/footer %>